<dl>
  <dt>
    <label for="record_code">Code</label> (e.g. <tt>AfgnkBch</tt>)
  </dt>
  <dd>
    <%= text_field :record, :code, :size => 20, :class => "code-input text-input"%>
  </dd>
</dl>
