<dl>
  <dt>
    <label for="record_latitude">Latitude</label><br />
    -90 to 90 degrees
  </dt>
  <dd>
    <%= text_field :record, :latitude, :size => 20, :class => "latitude-input text-input"%>
  </dd>
</dl>