<dl>
  <dt>
    <label for="record_length">Length</label> (<%= units_abbr('km') %>)
  </dt>
  <dd>
    <%= text_field :record, :length, :size => 20, :class => "length-input text-input"%>
  </dd>
</dl>
