<dl>
  <dt>
    <label for="record_longitude">Longitude</label><br />
    -180 to 180 degrees
  </dt>
  <dd>
    <%= text_field :record, :longitude, :size => 20, :class => "longitude-input text-input"%>
  </dd>
</dl>