<dl>
  <dt>
    <label for="record_deposit_amount">Deposit amount</label>
  </dt>
  <dd>
    <b>$</b><%= text_field :record, :deposit_amount, :size => 4, :class => "text-input" %>
  </dd>
</dl>
