<dl>
  <dt>
    <label for="record_extension">Extension</label><br /> <i>e.g. 403</i>
  </dt>
  <dd>
    <%= text_field :record, :extension, :size => 2, :class => "text-input" %>
  </dd>
</dl>
