<dl>
  <dt>
    <label for="record_notes">Internal Notes</label><br /> <i>for internal use only</i>
  </dt>
  <dd>
    <%= text_area :record, :notes, :rows=>8, :cols=>80, :class => "text-input" %>
  </dd>
</dl>
