<dl>
  <dt>
    <label for="record_phone">Phone</label><br /> <i>e.g. (415) 273-9164</i>
  </dt>
  <dd>
    <%= text_field :record, :phone, :size => 20, :class => "text-input" %>
  </dd>
</dl>
