<dl>
  <dt>
    <label for="record_bill_max">Bill Max</label> (<%= units_abbr('mm') %>)
  </dt>
  <dd>
    <%= text_field :record, :bill_max, :size => 4, :class => "length-input text-input"%>
  </dd>
</dl>
