<dl>
  <dt>
    <label for="record_tarsus_min">Tarsus Min</label> (<%= units_abbr('mm') %>)
  </dt>
  <dd>
    <%= text_field :record, :tarsus_min, :size => 4, :class => "length-input text-input"%>
  </dd>
</dl>
