<dl>
  <dt>
    <label for="record_wing_max">Wing Max</label> (<%= units_abbr('cm') %>)
  </dt>
  <dd>
    <%= text_field :record, :wing_max, :size => 4, :class => "length-input text-input"%>
  </dd>
</dl>
