<dl>
  <dt>
    <label for="record_wing_min">Wing Min</label> (<%= units_abbr('cm') %>)
  </dt>
  <dd>
    <%= text_field :record, :wing_min, :size => 4, :class => "length-input text-input"%>
  </dd>
</dl>
