  
      <div style="padding-left: 3px">
        <p><label for="user_password">Password</label><span class="req"><b>*</b></span></p>
        <%= password_field :volunteer, :password, :size => 30 %>
      </div>

      <div style="padding-left: 3px">
        <p><label for="user_password_confirmation">Confirm Password</label><span class="req"><b>*</b></span></p>
        <%= password_field :volunteer, :password_confirmation, :size => 30 %>
      </div>
