<% @title = "Reset password for #{@volunteer.fullname}" -%>

<h2><%= h(@title) -%></h2>

<% form_for :volunteer, :url => {:action => "reset_password"} do |form| %>
  <fieldset>
    <%= hidden_field :volunteer, :id,  :value => @volunteer.id %>

    <%= render :partial => 'form_password' %>
    <%= button_div(:submit => 'Save Changes') %>
  </fieldset>
<% end %>
