<%= error_messages_for 'region' %>

<!--[form:region]-->
<p><label for="region_code">Code</label><br/>
<%= text_field 'region', 'code'  %></p>

<p><label for="region_name">Name</label><br/>
<%= text_field 'region', 'name'  %></p>
<!--[eoform:region]-->

