stub! should replicate the logic of SAS script:<br />
<tt>'docs/from_kate/choice species deposition_jan07.sas'</tt><br />

<p>primary logic calculates data validity; do a dry-run against existing known results using SQL reporting and compare results.</p>
